/** the Main rules Repeat in My website ***/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
    --mainColor:rgb(16  , 13  ,12 , .5);
    --secondColor:#19c8fa;
    --overlay:black;
    --borderColor:#2e2e2e;
}
body{
        font-family: 'Open Sans', sans-serif,Arial;
        scroll-behavior:smooth;

      }
.container{
    max-width: 970px;
    margin: auto;
    padding: 0 10px;
    height: 100%;
}
ul{list-style-type: none;margin: 0; padding: 0;}
a{text-decoration: none;}

.padding-section{
    padding-top: 70px;
    padding-bottom: 70px;
}
.hidden{
    display: none;
}


p{
    font-size: 13px;
    line-height: 1.7;
    color:#777;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:var(--overlay);
    opacity: .5;
    z-index: 1;

}
.active{
    border-bottom: 1px solid  var(--secondColor);
}
/**** component **/
.repeatedHeader{
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 120px;
}
.repeatedHeader h2{
    color: black;
    width: fit-content;
    margin: auto;
    border-bottom: 2px solid black;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    text-transform: uppercase;
}
.repeatedHeader h2::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    border: 2px solid black;
    background:#FFF;
    border-radius: 50%;
}
@media(max-width:700px){
    .repeatedHeader{
        width: 90%;
    }
}

